services:
  frontend:
    build: ./frontend
    container_name: supporthub-frontend
    ports:
      - "4000:4000"
    networks:
      - appnet
    depends_on:
      - backend
  backend:
    build: ./backend
    container_name: supporthub-backend
    ports:
      - "8000:8000"
    networks:
      - appnet
    extra_hosts:
      - "host.docker.internal:host-gateway"
networks:
  appnet:
    driver: bridge